<body>
	<!-- Here is injected the navbar -->
	<div class="bg-big"> </div>
	<div class="container-fluid firsts-bar"></div>
	<div class="container-fluid firsts-bar text-center" id="blue-firsts-bar">
		<h3 class="font-white">
			<strong>
				NUESTROS SERVICIOS
			</strong>
		</h3>
	</div>

	<div class="container-fluid our-services">
		<div class="col-xs-12 col-md-6 text-center" style="height: 260px; padding: 20px 120px 20px 120px;">
			<a href="">			
				<div id="comerc-oport" class="oport"></div>
			</a>
			<h4 class="font-blue">
				<strong>
					Oportunidades de inversión comercial
				</strong>
			</h4>
		</div>
		<div class="col-xs-12 col-md-6 text-center" style="height: 260px; padding: 20px 120px 20px 120px;">
			<a href="">			
				<div class="oport" id="resid-oport"></div>
			</a>
			<h4 class="font-blue">
				<strong>
					Oportunidades de inversión Residencial
				</strong>
			</h4>
		</div>
	</div>
	<div class="container-fluid text-center sales-products">
		<h3 class="font-white">
			<strong>
				PROPIEDADES EN VENTA
			</strong>
		</h3>
		<br><br>
		<!-- primer carousel -->
		<div class="col-xs-6">
			<div class="col-xs-12 text-center">
		    <div id="jssor_1" class="carousel-box" style="border: solid 3px 3px 3px 3px white;">
		        <!-- Loading Screen -->
		        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
		            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
		            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
		        </div>
		        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:800px;height:356px;overflow:hidden;">
		            <div>
		                <img data-u="image" src="img/01.jpg" />
		                <img data-u="thumb" src="img/thumb-01.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/02.jpg" />
		                <img data-u="thumb" src="img/thumb-02.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/03.jpg" />
		                <img data-u="thumb" src="img/thumb-03.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/04.jpg" />
		                <img data-u="thumb" src="img/thumb-04.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/05.jpg" />
		                <img data-u="thumb" src="img/thumb-05.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/06.jpg" />
		                <img data-u="thumb" src="img/thumb-06.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/07.jpg" />
		                <img data-u="thumb" src="img/thumb-07.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/08.jpg" />
		                <img data-u="thumb" src="img/thumb-08.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/09.jpg" />
		                <img data-u="thumb" src="img/thumb-09.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/10.jpg" />
		                <img data-u="thumb" src="img/thumb-10.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/11.jpg" />
		                <img data-u="thumb" src="img/thumb-11.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/12.jpg" />
		                <img data-u="thumb" src="img/thumb-12.jpg" />
		            </div>
		        </div>
		        <!-- Thumbnail Navigator -->
		        <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
		            <!-- Thumbnail Item Skin Begin -->
		            <div data-u="slides" style="cursor: default;">
		                <div data-u="prototype" class="p">
		                    <div class="w">
		                        <div data-u="thumbnailtemplate" class="t"></div>
		                    </div>
		                    <div class="c"></div>
		                </div>
		            </div>
		            <!-- Thumbnail Item Skin End -->
		        </div>
		        <!-- Arrow Navigator -->
		        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
		        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
		    </div>
		    <!-- #endregion Jssor Slider End -->

		    <script type="text/javascript">  jssor_1_slider_init();</script>
		    <br>
		    <h4 class="font-white"> 
		    	<strong>
		    		COMERCIAL 
		    	</strong> 
		    </h4>
			</div>
		</div>

		<!-- 2do carousel -->
		<div  class="col-xs-6">
			<div class="col-xs-12 text-center">
		    <div id="jssor_2" class="carousel-box">
		        <!-- Loading Screen -->
		        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
		            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
		            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
		        </div>
		        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:800px;height:356px;overflow:hidden;">
		            <div>
		                <img data-u="image" src="img/01.jpg" />
		                <img data-u="thumb" src="img/thumb-01.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/02.jpg" />
		                <img data-u="thumb" src="img/thumb-02.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/03.jpg" />
		                <img data-u="thumb" src="img/thumb-03.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/04.jpg" />
		                <img data-u="thumb" src="img/thumb-04.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/05.jpg" />
		                <img data-u="thumb" src="img/thumb-05.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/06.jpg" />
		                <img data-u="thumb" src="img/thumb-06.jpg" />
		            </div>
		            
		            <div>
		                <img data-u="image" src="img/07.jpg" />
		                <img data-u="thumb" src="img/thumb-07.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/08.jpg" />
		                <img data-u="thumb" src="img/thumb-08.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/09.jpg" />
		                <img data-u="thumb" src="img/thumb-09.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/10.jpg" />
		                <img data-u="thumb" src="img/thumb-10.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/11.jpg" />
		                <img data-u="thumb" src="img/thumb-11.jpg" />
		            </div>
		            <div>
		                <img data-u="image" src="img/12.jpg" />
		                <img data-u="thumb" src="img/thumb-12.jpg" />
		            </div>
		        </div>
		        <!-- Thumbnail Navigator -->
		        <div data-u="thumbnavigator" class="jssort02" style="position:absolute;left:0px;bottom:0px;width:800px;height:100px;" data-autocenter="1">
		            <!-- Thumbnail Item Skin Begin -->
		            <div data-u="slides" style="cursor: default;">
		                <div data-u="prototype" class="p">
		                    <div class="w">
		                        <div data-u="thumbnailtemplate" class="t"></div>
		                    </div>
		                    <div class="c"></div>
		                </div>
		            </div>
		            <!-- Thumbnail Item Skin End -->
		        </div>
		        <!-- Arrow Navigator -->
		        <span data-u="arrowleft" class="jssora05l" style="top:158px;left:8px;width:40px;height:40px;"></span>
		        <span data-u="arrowright" class="jssora05r" style="top:158px;right:8px;width:40px;height:40px;"></span>
		    </div>
		    <!-- #endregion Jssor Slider End -->

		    <script type="text/javascript">  jssor_2_slider_init();</script>
		    <br>
		    <h4 class="font-white"> 
		    	<strong>
		    		RESIDENCIAL 
		    	</strong>
		    </h4>
			</div>
		</div>
	</div>
	
	<div class="container-fluid firsts-bar"></div>
	
	<footer>
		<div class="contaiber-fluid footer">
			<div class="col-xs-4 text-center">
				<h3 class="font-white">Contáctanos</h3>
        <p class="font-white">Teléfono: +34 633706814</p>
			</div>
			<div class="col-xs-4 text-center">
				<h3 class="font-white">Email</h3>
			</div>
			<div class="col-xs-4"></div>
		</div>
	</footer>
</body>