/* app css stylesheet */

@font-face
{
   font-family: 'Futura';
   src: url('futura_light.ttf') format('truetype');
}

@font-face
{
   font-family: "Beba";
   src: url("../fonts/bebas_light.ttf") format("truetype");
}

@font-face
{
   font-family: "PoiretOne";
   src: url("../fonts/PoiretOne-Regular.ttf") format("truetype");
}

body {
  font-family: "Futura", Arial, "san-serif" !important;
}

nav {
	padding-right: 120px !important;
	padding-left: 120px !important;
	background-color: white !important;
	border-style: none !important;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 150px;
  height: 80px;
	padding-top: 35px !important;
	color: #045FB4 !important;
  font-size: 12px;
}
.navbar-nav li a:hover{
	border-bottom: solid #045FB4 3px;
}

.bg-big {
  background-image: url('../assets/buildings2.jpg'); 
  background-repeat: no-repeat; 
  background-size: 100%;
  width: 100%;
  margin-top: 90px;
}

.firsts-bar{
  height: 100px;
}

#blue-firsts-bar {
  background-color: #045FB4;
  padding-top: 15px;
}

.our-services {
  padding-top: 20px;
}

@media only screen and (min-width: 700px){
  /* styles for browsers larger than 960px; */
  .bg-big {
    height: 40vh;
  }
  .our-services{
    height: 580px !important;
  }
  .navbar {
  	padding-left: 80px !important;
  	padding-right: 60px !important;
  }
  .box-port-text {
    padding-top: -20vh !important; 
    height: 32vh;
    font-size: 0.5em !important;
    font-weight: bold;
  }
  .priceText {
    font-size: 10px;
  }
}

@media only screen and (min-width:1023px){
  /* styles for browsers larger than 960px; */
  .bg-big {
    height: 60vh;
  }
  .our-services{
    height: 350px !important;
  }
  .box-port-text {
    padding-top: 1vh !important; 
    height: 32vh;
    font-size: 0.55em !important;
  }
}
@media only screen and (min-width:1279px){
  /* styles for browsers larger than 1440px; */

  .box-port-text {
    padding-top: 1vh !important; 
    height: 32vh;
    font-size: 0.8em !important;
  }
  .bg-big {
    height: 90vh;
  }
  .portfolio-box {
    height: 60vh;
  }
  .portfolio-box-img {
    padding-right: 0px !important; 
    height: 60vh;
    padding-bottom: 0px !important;
  }
  .priceText {
    font-size: 14px;
  }
}

@media only screen and (min-width:1800px){
  /* styles for browsers larger than 1440px; */

  .box-port-text {
    font-size: 1em !important;
    padding-top: 2vh !important; 
    height: 32vh;
  }
  .bg-big {
    height: 90vh;
  }  
}


/* carousel */

.carousel-box {
  position:relative;
  margin:0 auto;
  top:0px;
  left:0px;
  width:800px;
  height:456px;
  overflow:hidden;
  visibility:hidden;
  background-color:#24262e;
}

.font-white {
  color: white;
}

.font-blue {
  color: #045FB4;
}

.oport {
  width: 100%; 
  height: 100%; 
  background-size: 100%; 
  background-repeat: no-repeat; 
  background-color: rgba(0, 0, 0, 0.2); 
  opacity: 0.8;
}

.oport:hover{
  opacity: 1;
}

#comerc-oport {
  background-image: url('../assets/buildings2.jpg'); 
}

#resid-oport {
  background-image: url('../img/02.jpg'); 
}

.sales-products {
  background-color: #045FB4; 
  padding-top: 30px; 
  padding-bottom: 50px;
}

.footer {
  background-color: #333333; 
  height: 250px;
}

.portfolio-box {
	height: 30vh;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.portfolio-box-img {
	padding-right: 0px !important; 
	height: 30vh;
	padding-bottom: 0px !important;
}


/* Btn */


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-md {
  width: 30px;
  height: 30px;
  padding: 6px 10px;
  font-size: 10px;
  line-height: 1.33;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.filterBtns {
  width: 14vw; 
  background-color: #01A9DB !important; 
  border: none !important;
}

.searchBtn {
  background-color: #2E64FE !important; 
  border: none !important;
}



/* */
a {
    color: #03a1d1;
    text-decoration: none!important;
}

/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 200px;
        height: 150px;
    }
}
