<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <!--<script src="libs/angular/angular.js"></script>-->
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script> <!-- Jquery always before Bootstrap -->
  <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

  <link rel="stylesheet" type="text/css" href="libs/jssor/jssor.css">
  <script src="libs/jssor/jssor.slider-22.2.0.min.js" type="text/javascript"></script>
  <script src="libs/jssor/jssor.js" type="text/javascript"></script>

</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header ng-controller="headerCtrl">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="padding-bottom: 10px;" ng-show = "isSpanish">
      <div class="navbar-header" style="margin-bottom: 20px !important;">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{header.lang ==  'ES' ? '#!/es' : '#!/en' }}" class="navbar-brand" style="margin-top: -30px !important">
          <!--<img src="assets/logo3.png" style="height: 80px;">-->
        </a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#!/es"> <strong> INICIO </strong> </a> </li>
          <li> <a href="#!/portafolio"> <strong> PORTAFOLIO </strong> </a> </li>
          <li> <a href="#!/admin"> <strong> NOSOTROS </strong> </a> </li>
          <li> <a href="#!/contactus"> <strong> CONTÁCTANOS </strong> </a> </li>
          <li> <a href="#!/es" ng-click = "changeLang('ES')"> <i> <img src="assets/ES.png"> </i> </a> </li>
          <li> <a href="#!/en" ng-click = "changeLang('EN')"> <i> <img src="assets/EN.png"> </i> </a> </li>
        </ul>
      </div>
    </nav>

    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="padding-bottom: 10px;" ng-show = "!isSpanish">
      <div class="navbar-header" style="margin-bottom: 20px !important;">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{header.lang ==  'ES' ? '#!/es' : '#!/en' }}" class="navbar-brand" style="margin-top: -30px !important">
          <!--<img src="assets/logo3.png" style="height: 80px;">-->
        </a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li> <a href="#!/en"> <strong> HOME </strong> </a> </li>
          <li> <a href="#!/portfolio"> <strong> PORTFOLIO </strong> </a> </li>
          <li> <a href="#!/admin"> <strong> ABOUT US </strong> </a> </li>
          <li> <a href="#!/contactus"> <strong> CONTACT US </strong> </a> </li>
          <li> <a href="#!/es" ng-click = "changeLang('ES')"> <i> <img src="assets/ES.png"> </i> </a> </li>
          <li> <a href="#!/en" ng-click = "changeLang('EN')"> <i> <img src="assets/EN.png"> </i> </a> </li>
        </ul>
      </div>
    </nav>
  </header>

  <div ng-view>
    
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>

  <script src="header/header.js"></script>

  <script src="home/home_es.js"></script>
  <script src="home/home_en.js"></script>

  <script src="portfolio/portafolio.js"></script>
  <script src="portfolio/portfolio.js"></script>

  <script src="admin/admin.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
