<div style="background-color:#e8e8e8; min-height: 100vh;">
  
  <div class="container-fluid" style="margin-top: 100px; background-color: #045FB4;  padding-left: 100px !important; padding-right: 0px !important; padding-top: 60px;">
    <div class="col-xs-12">
      <div class="dropdown col-xs-2">
        <button class="btn btn-lg btn-info dropdown-toggle filterBtns" id="filterBtn1" type="button" data-toggle="dropdown">{{statusForFilter}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu" style="width: 14vw; margin-left: 15px;">
          <li style="padding-left: 30px;" ng-repeat="status in filterStatus | orderBy:'data'" ng-click = "changeStatusForFilter(status);">{{status.data}}</li>
        </ul>
        <p class="pull-center" style="color: white;">
          <a href="" style="text-decoration:none; color: white" ng-show = "showButtonStatus" ng-click = "changeStatusForFilter({data: 'Status'}); showButtonStatus = false">
            <strong>
              Delete
            </strong>
          </a>
        </p>
      </div>

      <div class="dropdown col-xs-2">
        <button class="btn btn-lg btn-info dropdown-toggle filterBtns" id="filterBtn2" type="button" data-toggle="dropdown">{{cityForFilter}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu" style="width: 14vw; margin-left: 15px;">
          <li style="padding-left: 30px;" ng-repeat="city in filterCity | orderBy:'data' " ng-click = "changeCityForFilter(city);">{{city.data}}</li>
        </ul>
        <p class="pull-center" style="color: white;">
          <a href="" style="text-decoration:none; color: white" ng-show = "showButtonCity" ng-click = "changeCityForFilter({data: 'Ciudad'}); showButtonCity = false">
            <strong>
              Delete
            </strong>
          </a>
        </p>
      </div>
      <div class="dropdown col-xs-2">
        <button class="btn btn-lg btn-info dropdown-toggle priceText filterBtns" id="filterBtn3" type="button" data-toggle="dropdown">{{priceForFilter}}
        <span class="caret"></span></button>
        <ul class="dropdown-menu" style="width: 14vw; margin-left: 14px;">
          <li style="padding-left: 30px;" class="priceText" ng-repeat="price in filterPrice | orderBy:'data'" ng-click = "changePriceForFilter(price, $index)">{{price}}</li>
        </ul>
        <p class="pull-center" style="color: white;">
          <a href="" style="text-decoration:none; color: white" ng-show = "showButtonPrice" ng-click = "changePriceForFilter('Precio'); showButtonPrice = false">
            <strong>
              Delete
            </strong>
          </a>
        </p>
      </div>

      <div class="col-xs-2" ng-init= "restartFilter = false">
        <button class="btn btn-info btn-lg searchBtn" ng-click = "applyFilter(); restartFilter = true;" ng-hide = "restartFilter">
          Search
        </button>
        <button class="btn btn-lg btn-danger" ng-show = "restartFilter" ng-click = "restartFilter = false; mainFunction()">
          Restart Search
        </button>
      </div>
    </div>
    <div class="firsts-bar"></div>
  </div>
  <div class="container-fluid" style="">
    <div class="container container-pad" id="property-listings">     
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      
      <div class="row">
          <div class="col-sm-6" ng-repeat = "dat in data">
            <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
              <div class="media">
                <a class="pull-left" href="#" target="_parent">
                <img alt="image" class="img-responsive" src="{{dat.imgUrl}}"></a>

                <div class="clearfix visible-sm"></div>

                <div class="media-body fnt-smaller">
                  <a href="#" target="_parent"></a>

                  <h4 class="media-heading">
                    
                  <a href="#" target="_parent">${{dat.price}} <small class="pull-right">{{dat.title}}, {{dat.city}}</small></a></h4>

                  <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                    <li>{{dat.building_size}} Mts2.</li>

                    <li style="list-style: none">|</li>

                    <li>{{dat.bedrooms}} Beds.</li>

                    <li style="list-style: none">|</li>

                    <li>{{dat.bathrooms}} Baths</li>
                  </ul>

                  <p>Status: {{dat.status}}</p>
                  <p class="hidden-xs">{{dat.features}}
                  ...</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of HS Fox & Roach-Chestnut Hill
                  Evergreen</span>
                </div>
              </div>
            </div><!-- End Listing-->
          </div>
        </div><!-- End row -->
    </div><!-- End container -->
  </div>

</div>

